<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
</head>
<body>

<h1>Cadastro</h1>

<form method="POST">
    <input name="nome" placeholder="Nome"><br><br>
    <input name="email" placeholder="Email"><br><br>
    <input name="senha" placeholder="Senha"><br><br>
    <input name="confirmacao_senha" placeholder="Confirmar senha"><br><br>

    <select name="tipo_usuario">
        <option value="padrão">Padrão</option>
        <option value="admin">Admin</option>
    </select><br><br>

    <button type="submit">Cadastrar</button>
</form>

</body>
</html>