{% extends "base.html" %}
{% block titulo %}Login{% endblock %}

{% block conteudo %}
<div style="max-width: 400px; margin: 5rem auto;">
    <h2 style="text-align: center;">🌦️ Login</h2>

    <form method="POST" action="{{ url_for('auth.login') }}">
        
        <div>
            <label>Email</label>
            <input type="email" name="email" placeholder="seu@email.com" required>
        </div>

        <div>
            <label>Senha</label>
            <input type="password" name="senha" placeholder="sua senha" required>
        </div>

        <button type="submit" class="btn">Entrar</button>

    </form>

    <p style="text-align: center; margin-top: 1rem;">
        Não tem conta? 
        <a href="{{ url_for('auth.cadastro') }}">Cadastre-se</a>
    </p>
</div>
{% endblock %}